.profile__button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  flex-shrink: 0;
  background-color: #000;
  background-image: url(../images/Add_Button.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.edit__button {
  width: 24px;
  height: 24px;
  border-color: #fff;
  background-color: #000;
  background-image: url(../images/Edit_Button.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-right: 165px;
  margin-top: -30px;
}

.heart {
  width: 21px;
  height: 18px;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-top: 31px;
}
