.footer__copywrite {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 500px) {
  .footer__copywrite {
    font-size: 14px;
    line-height: 17px;
    padding: 48px 19px 36px 19px;
  }
}
