.page {
  background-color: #000000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.page__content {
  margin: 0 auto;
  color: #ffffff;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .page__content {
    max-width: 600px;
  }
}
