.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile {
  display: flex;
  align-items: center;
  padding-bottom: 47.25px;
}

.profile__title {
  max-width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__subtitle {
  max-width: 415px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0px;
  padding-top: 16px;
}

.profile__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.profile__button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  flex-shrink: 0;
  background-color: #000;
  background-image: url(../images/Add_Button.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  flex-wrap: wrap;
  border-radius: 2px;
}

.profile__button:hover {
  border: 2px solid #0652f5;
}

.profile__edit {
  width: 24px;
  height: 24px;
  border-color: #fff;
  background-color: #000;
  background-image: url(../images/Edit_Button.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-right: 160px;
  margin-top: -30px;
}

.profile__edit:hover {
  border-color: #0652f5;
}

.heart {
  background-color: transparent;
  padding: 0;
  border: none;
  margin: 0 20px 0 auto;
}

@media screen and (max-width: 900px) {
  .profile__title {
    text-align: center;
    white-space: nowrap;
  }
  .profile {
    margin: 0 auto;
  }
  .profile__subtitle {
    text-align: center;
  }

  .profile__edit {
    background-image: url(../images/Edit_Button.png);
    margin-right: 20px;
  }
}

@media screen and (max-width: 595px) {
  .profile {
    flex-direction: column;
    padding: 0;
    margin: 42px 19px 36px 19px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    margin-bottom: 36px;
    max-width: 250px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    padding: 0;
  }
  .profile__description {
    align-items: center;
    text-align: center;
  }
  .profile__avatar {
    margin-right: 0;
  }

  .profile__button {
    width: 282px;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 50px;
    background-color: #000;
  }
  .profile__edit {
    margin-left: 20px;
    background-image: url(../images/Edit_Button.png);
  }
}
