.profile {
  display: flex;
  align-items: center;
  margin: 0 200px 51px 200px;
  justify-content: space-between;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22.78px;
  margin: 0px;
  padding-top: 16px;
}

.profile__description {
  flex-grow: 1;
}
