@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/avatar.css);
@import url(../blocks/button.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);

@media screen and (max-width: 900px) {
  .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 26.25px;
  }

  .profile__button_edit {
    width: 18px;
    height: 18px;
  }

  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 42px 19px 36px 19px;
  }

  .profile__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
  }

  .profile__button {
    width: 100%;
  }

  .profile__description {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 0;
    flex-grow: 1;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .profile__button_edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 6;
    max-width: calc(100% - 38px);
    margin: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    padding: 48px 19px 36px 19px;
  }
}
